@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
 
    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 16% 93%;
    --secondary-foreground: 0 0% 0%;
 
    --muted: 210 16% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 16% 93%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 0%;
 
    --radius: 0.5rem;

    --border-primary: var(--primary);
  }
 
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
 
    --card: 0 0% 0%;
    --card-foreground: 210 40% 98%;
 
    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 206 14% 10%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 206 14% 10%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 206 14% 10%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 206 14% 10%;
    --input: 206 14% 10%;
    --ring: 212.7 26.8% 83.9%;

    --border-primary: var(--primary);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}